@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  /* Paragraphs should have a bottom margin to separate them, by default. */
  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  h3 {
    @apply font-semibold;
  }
}

@layer components {
  .btn {
    @apply py-2 px-6 duration-100 text-white bg-blue-500 hover:bg-blue-400 rounded-full;
  }
  .input {
    @apply p-2 rounded text-black border outline-none;
  }
}

.light {
  @apply bg-white text-black;
}
.dark {
  @apply bg-[#020202] text-white;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
